<footer class="footer">
    <div class="container">
        <div class="content is-small has-text-centered">
            <p>
                CubPack.org is offered as a free service by <a href="https://pack25prm.cubpack.org/">Pack 25</a> and is not are not affiliated, authorized, endorsed by, or in any way officially connected with the Boy Scouts of America.

                The names Boy Scouts of America and Cub Scouts as well as related names, marks, emblems and images are registered trademarks of their respective owners.</a>
            </p>
            <p>
                <a href="/tos">Terms of Service</a>&nbsp;|&nbsp;<a href="/privacy-policy">Privacy Policy</a>
            </p>
            <p>Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>
